<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.dpd"
        versionCode = "10"
        version     = "0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Diccionario Panhispánico de Dudas</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author href="https://leandro.org" email="leandro@leandro.org">
        Leandro
    </author>

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

</widget>
